/node_modules
/jspm_packages
/public
/src/config.js
/config.json
/data/boundaries/csas
/data/boundaries/nsas
/data/boundaries/subwatersheds
/data/layers/sw/*.json
/data/layers/cg/*.json
/data/layers/ua/*.json
/data/layers/gpb
