/.tern-project
/.eslintrc.json

/node_modules

/data/boundaries/csas
/data/boundaries/nsas
/data/boundaries/subwatersheds
/data/layers/sw/*.json
/data/layers/cg/*.json
/data/layers/ua/*.json
/data/layers/gpb

/public/build.js
/public/build.js.map
/public/config.js

/src/jspm_packages
/src/build.js
/src/build.js.map
/src/**/*.css
/src/app/core/options.json
