<div class="mdl-grid">
    <map-card class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone my-content-cell">
    </map-card>
    <desc-card class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone my-content-cell">
    </desc-card>
    <gpb-card class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone my-content-cell">
    </gpb-card>
    <phases-card class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone my-content-cell">
    </phases-card>
</div>
