<div class="mdl-card mdl-shadow--2dp my-card">
  <h3>Problem</h3>
  <p>The City of Baltimore has more than 18,000 vacant lots that could be converted into uses that enhance neighborhoods and promote resiliency and sustainability.</p>
  <h3>Solution</h3>
  <p>In order to help neighborhood stakeholders identify greening strategies for these vacant lots, the City developed the Green Pattern Book that provides guidance on ways to achieve its vision of integrated green amenities.</p>
  <h3>Project</h3>
  <p>There are 8 patterns within the Green Pattern Book. Mapping sites that show characteristics of the eight patterns is an essential tool for coordinating efforts and collectively achieving the vision defined by neighborhoods. In 2013, the Baltimore Neighborhood Indicators Alliance (BNIA-JFI) piloted a publicly- accessible, interactive map for this purpose using the pattern community-managed open space. Now, in 2014, BNIA-JFI is enhancing the map features and adding a second element for stormwater management. Future iterations of the map will include components of the remaining six green patterns.</p>
  <h3>Content</h3>
  <p>Understanding how these sites impact urban waters and the communities that surrounds them requires ongoing information about the social, economic, and environmental characteristics of the City and the region. BNIA-JFI is leveraging existing socioeconomic data from the Vital Signs report and integrating it with data related to sites with potential to reduce runoff and nutrient loads to the City’s watersheds.</p>
  <h3>Process</h3>
  <p>For each element of the Green Pattern Book, BNIA-JFI compiles data from a variety of primary sources and adds it to a spatial database that connects to Vital Signs community-based indicators, real property records, vacants to values properties, and adopt-a-lots. It is made accessible via a web-based interactive map.</p>
</div>
