<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="bnia-logo mdl-mega-footer__drop-down-section mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
      <a href="http://bniajfi.org/" target="_blank">
        <img src="app/assets/bnia-logo.png" alt="BNIA" title="BNIA">
      </a>
    </div>
    <div class="mdl-mega-footer__drop-down-section mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
      <h3>Get In Touch</h3>
      <ul class="social-media">
        <li class="twitter">
          <a href="https://twitter.com/bniajfi" target="_blank">
            <span></span>Twitter
          </a>
        </li>
        <li class="facebook">
          <a href="http://facebook.com/bniajfi" target="_blank">
            <span></span>Facebook
          </a>
        </li>
        <li class="youtube">
          <a href="https://www.youtube.com/user/bniajfi" target="_blank">
            <span></span>YouTube
          </a>
        </li>
      </ul>
      <p>Nancy Jones: <a href="mailto:njones@ubalt.edu">njones@ubalt.edu</a></p>
      <p>Seema Iyer: <a href="mailto:siyer@ubalt.edu">siyer@ubalt.edu</a></p>
    </div>
    <div class="mdl-mega-footer__drop-down-section mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--4-col-phone">
      <h3>Acknowledgements</h3>
      <p>This mapping project was funded through an agreement with the U.S. Department of Agriculture, U.S. Forest Service, Northern Research Station. The Northern Research Station of the U.S. Forest Service seeks to improve people’s lives and help sustain the natural resources in the Northeast and Midwest through leading-edge science and effective information delivery. For more information, visit the <a href="https://sites.google.com/site/urbanwatersbaltimore/Baltimore" target="_blank">Urban Waters Partnership site</a>.</p>
    </div>
  </div>
</footer>
