<div class="mdl-card mdl-shadow--2dp my-card">
  <ul class="mdl-list">
    <li class="mdl-list__item community-managed-open-space">
      <span class="mdl-list__item-primary-content">
        <i class="mdl-list__item-avatar"></i>
        Community Managed Open Space
      </span>
    </li>
    <li class="mdl-list__item stormwater-management">
      <span class="mdl-list__item-primary-content">
        <i class="mdl-list__item-avatar"></i>
        Stormwater Management
      </span>
    </li>
    <li class="mdl-list__item urban-forest-and-buffer">
      <span class="mdl-list__item-primary-content">
        <i class="mdl-list__item-avatar"></i>
        Urban Forest and Buffer
      </span>
    </li>
    <li class="mdl-list__item mdl-list__item--two-line future-iterations my-list-item">
      <span class="mdl-list__item-primary-content">
        <i class="mdl-list__item-avatar"></i>
        Future Iterations
        <span class="mdl-list__item-text-body">
          <ul>
            <li>Clean and Green</li>
            <li>Mixed Greens</li>
            <li>Neighborhood Park</li>
            <li>Green Parking</li>
            <li>Urban Agriculture</li>
          </ul>
        </span>
      </span>
    </li>
  </ul>
</div>
