<!-- <li class="collection-item">
    <md-checkbox [class.black-text]=layerFilterOption.active [checked]="layerFilterOption.isOn" (click)="fireIsOnChange()"
    [disabled]="!layerFilterOption.active">
        {{layerFilterOption.val}}
    </md-checkbox>
</li> -->

<label upgrade-mdl class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
  <input type="checkbox" class="mdl-checkbox__input" [class.checked]="layerFilterOption.isOn" (click)="fireIsOnChange()" [class.disabled]="!layerFilterOption.active">
  <span class="mdl-checkbox__label mdl-badge">{{layerFilterOption.val}}</span>
</label>
