@import '../../../shared/styles/colors.less';

.my-app-header{
  z-index:2;
}

.my-app-content{
  z-index:0;
  overflow-y:scroll;
  background-color:@background-hue1;
}

.my-app-sidenav{
  z-index:1;
}
