<div class="my-app-header" md-whiteframe="4">
  <app-header class ="my-app-header" tabs="$ctrl.tabs" on-tab-change="$ctrl.tabChange(tab)"></app-header>
  <app-map-menu ng-if="$ctrl.tabs.activeKey == '/Map'"></app-map-menu>
</div>
<div layout="row" flex>
      <md-sidenav class="md-sidenav-left my-app-sidenav" md-is-locked-open="true" md-whiteframe="2"></md-sidenav>
      <div class="my-app-content" layout="column" flex>
          <ng-outlet layout="column" flex>
          </ng-outlet>
      <div>
</div>
