<h2>Boundary Choices</h2>
<label *ngFor="#o of boundaryChoices?.opt" upgrade-mdl class="mdl-radio mdl-js-radio mdl-js-ripple-effect my-radio-label" (click)=fireBoundaryChoicesChange(o.key)>
  <input type="radio" class="mdl-radio__button" name="boundary-choices">
  <span class="mdl-radio__label">{{o.val}}</span>
</label>
<div *ngFor="#o of boundaryChoices?.opt">
    <div *ngFor="#c of o.configs">
        <h3>{{c.val}}</h3>
        <label *ngFor="#p of c.opt" upgrade-mdl class="mdl-radio mdl-js-radio mdl-js-ripple-effect my-radio-label" (click)=fireBoundaryConfigsOptChange(o.key,c.key,p.key)>
            <input type="radio" class="mdl-radio__button" [attr.name]="c.key"/>
            <span class="mdl-radio__label">{{p.val}}</span>
        </label>
    </div>
</div>
