<!-- <md-toolbar class="md-primary" layout="column">
  <div layout="row">
  <div flex> -->
  <div layout="row" flex>
  <md-toolbar class="my-header-md-toolbar" flex="20">
    <div class="md-toolbar-tools" layout="row" flex>
      <md-button
        aria-label="menu"
        class="md-icon-button"
        ng-click="">
          <i class="material-icons">menu</i>
      </md-button>
      <h2>{{$ctrl.title}}</h2>
    </div>
  </md-toolbar>
  <md-toolbar class="my-header-md-toolbar" flex>
    <md-tabs class="md-primary" autoselect="false" md-selected="$ctrl.tabs.activeIndex">
      <md-tab
        ng-repeat = "key in $ctrl.tabs.keys"
        md-on-select = "$ctrl.tabChange(key)"
        md-active = "$ctrl.tabs.activeKey == key ">
          <md-tab-label> {{$ctrl.tabs.vals[$index]}} </md-tab-label>
      </md-tab>
    </md-tabs>
    </md-toolbar>
    <div flex="20">
      <md-toolbar class="my-header-md-toolbar"
        ng-show="($ctrl.tabs.activeKey == '/Home') || ($ctrl.tabs.activeKey == '/Layers') || ($ctrl.tabs.activeKey == '/Boundaries')"
        flex>
      </md-toolbar>
      <map-menu-bar ng-show="$ctrl.tabs.activeKey == '/Map'"></map-menu-bar>
    </div>
      </div>
  <!-- </div>
  </div>
</md-toolbar> -->


  <!-- <div class="menu" layout="row" style="width: 100%;">
    <md-menu-bar>
      <md-menu>
        <span>
          <button ng-click="$mdOpenMenu()">Patterns</button>
          <i class="material-icons">arrow_drop_down</i>
        </span>
        <md-menu-content>
          <md-menu-item>
            <input type="checkbox">
            <span>Community Managed Open Spaces</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Storm Water Management Sites</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Urban Forest and Buffer</span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <span>
          <button ng-click="$mdOpenMenu()">Layers</button>
          <i class="material-icons">arrow_drop_down</i>
        </span>
        <md-menu-content>
          <md-menu-item>
            <input type="checkbox">
            <span>Neighborhoods</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Community Statistical Area</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Watersheds</span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <span>
          <button ng-click="$mdOpenMenu()">Indicators</button>
          <i class="material-icons">arrow_drop_down</i>
        </span>
        <md-menu-content>  <div layout="row" class="title-bar">
          <md-menu-item>
            <input type="checkbox">
            <span>Health and Human Welfare</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Housing</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Sustainability</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Crime and Safety</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Education</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Arts and Culture</span>
          </md-menu-item>
          <md-menu-item>
            <input type="checkbox">
            <span>Socioeconomic/Demographics</span>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div>
</md-toolbar> -->
