<!-- <div materialize>
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3">
        <ul class="left">
          <li><a><i class="material-icons" (click)=fireMenuClicked()>menu</i></a></li>
          <li [class.active]="layersActive"><a>Layers</a></li>
          <li [class.active]="boundariesActive"><a>Boundaries</a></li>
          <li [class.active]="vitalSignsActive"><a>Vital Signs</a></li>
        </ul>
        <ul class="right">
          <li><a><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <button upgrade-mdl class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon my-menu-button" (click)=fireMenuButtonClicked()>
        <i class="material-icons">menu</i>
      </button>
      <span class="my-toolbar-title">Baltimore Green Registry</span>
      <div class="mdl-layout-spacer"></div>
      <button upgrade-mdl class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon my-config-button" (click)=showSearch()>
        <i class="material-icons">search</i>
      </button>
      <button upgrade-mdl class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon my-config-button">
        <i class="material-icons">more_vert</i>
      </button>

      <div class="search mdl-layout__header-row" *ngIf="search">
        <form action="#">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" placeholder="Enter Address" id="search">
        </div>
          <md-button aria-label="label" class="md-icon-button" (click)=showSearch()>
            <i class="material-icons">close</i>
          </md-button>
        </form>
      </div>
    </div>

    <div class="menu">
      <button upgrade-mdl id="patterns" class="mdl-button mdl-js-button">
        Patterns
        <i class="material-icons">arrow_drop_down</i>
      </button>

      <ul upgrade-mdl class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="patterns">
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Community Managed Open Spaces</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Storm Water Management Sites</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Urban Forest and Buffer</span>
        </li>
      </ul>

      <button upgrade-mdl id="layers" class="mdl-button mdl-js-button">
        Layers
        <i class="material-icons">arrow_drop_down</i>
      </button>
        
      <ul upgrade-mdl class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="layers">
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Neighborhoods</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Community Statistical Area</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Watersheds</span>
        </li>
      </ul>

      <button upgrade-mdl id="indicators" class="mdl-button mdl-js-button">
        Indicators
        <i class="material-icons">arrow_drop_down</i>
      </button>

      <ul upgrade-mdl class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="indicators">
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Economic and Workforce Development</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Health and Human Welfare</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Housing</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Sustainability</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Crime and Safety</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Education</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Arts and Culture</span>
        </li>
        <li class="mdl-menu__item">
          <input type="checkbox">
          <span>Socioeconomic/Demographics</span>
        </li>
      </ul>
    </div>
  </header>
</div>
