<div class="my-landing-footer-container" layout="row" layout-md="column" layout-sm="column" layout-xs="column" layout-align="center">
  <div layout="row" layout-md="column" layout-sm="column" layout-xs="column" flex="70" flex-md="100" flex-sm="100" flex-xs="100">
    <div flex="33" flex-md="100" flex-sm="100" flex-xs="100" class="md-padding">
      <a href="http://bniajfi.org/" target="_blank">
        <img src={{$ctrl.imgPath}}/ alt="BNIA" title="BNIA">
      </a>
    </div>
    <div flex="33" flex-md="100" flex-sm="100" flex-xs="100" class="md-padding">
      <h3>Get In Touch</h3>
      <ul class="social-media">
        <li class="twitter">
          <a href="https://twitter.com/bniajfi" target="_blank">
            <span></span>Twitter
          </a>
        </li>
        <li class="facebook">
          <a href="http://facebook.com/bniajfi" target="_blank">
            <span></span>Facebook
          </a>
        </li>
        <li class="youtube">
          <a href="https://www.youtube.com/user/bniajfi" target="_blank">
            <span></span>YouTube
          </a>
        </li>
      </ul>
      <p>Nancy Jones: <a href="mailto:njones@ubalt.edu">njones@ubalt.edu</a></p>
      <p>Seema Iyer: <a href="mailto:siyer@ubalt.edu">siyer@ubalt.edu</a></p>
    </div>
    <div flex="33" flex-md="100" flex-sm="100" flex-xs="100" class="md-padding">
      <h3>Acknowledgements</h3>
      <p>This mapping project was funded through an agreement with the U.S. Department of Agriculture, U.S. Forest Service, Northern Research Station. The Northern Research Station of the U.S. Forest Service seeks to improve people’s lives and help sustain the natural resources in the Northeast and Midwest through leading-edge science and effective information delivery. For more information, visit the <a href="https://sites.google.com/site/urbanwatersbaltimore/Baltimore" target="_blank">Urban Waters Partnership site</a>.</p>
    </div>
  </div>
</div>
