.my-card{
  width:auto;
}

.mdl-list {
  margin: 0;
}

.mdl-list__item {
  border-bottom: solid 1px #ccc;
}

.mdl-list__item:last-of-type {
  border-bottom: none;
}

.mdl-list__item i {
  background-image: url('app/assets/green-patterns-icons.png');
  background-size: 8em 1em;
  background-repeat: no-repeat;
}

.mdl-list__item.community-managed-open-space i {
  background-color: #ff4bc8;
  background-position: 0 0;
}

.mdl-list__item.stormwater-management i {
  background-color: #3278d2;
  background-position: -4em 0;
}

.mdl-list__item.urban-forest-and-buffer i {
  background-color: #50d264;
  background-position: -6em 0;
}

.mdl-list__item.future-iterations i {
  background-color: #fdb235;
  background-position: -2em 0;
}

.my-list-item {
  height: auto;
}

.my-list-item > span {
  height: auto;
}

.my-list-item > span ul {
  list-style: none;
  padding: 0 0 0 4em;
}
