<md-menu-bar>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Layers
      </button>
      <md-menu-content>
        <div class="my-menu-content">
          <md-menu-item>
            <md-button>
            <md-checkbox ng-model="$ctrl.opts.allCG">
              Community Managed Open Spaces
            </md-checkbox>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
            <md-checkbox ng-model="$ctrl.opts.allSW">
              Stormwater Management Sites
            </md-checkbox>
            </md-button>
          </md-menu-item>
        </div>
      </md-menu-content>
    </md-menu>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Boundaries
      </button>
      <md-menu-content>
        <div class="my-menu-content">
          <md-radio-group>
            <md-button ng-repeat="bc in $ctrl.opts.boundaryChoices">
            <md-radio-button
              ng-value = "bc.key">
              {{bc.val}}
            </md-radio-button>
            </md-button>
          </md-radio-group>
        </div>
      </md-menu-content>
    </md-menu>
</md-menu-bar>
