@primary-50: #36c0ff;
@primary-100: #1db8ff;
@primary-200: #03b0ff;
@primary-300: #00a0e9;
@primary-400: #008ecf;
@primary-500: rgb(0,125,182);
@primary-600: #006b9c;
@primary-700: #005a83;
@primary-800: #004869;
@primary-900: #003750;
@primary-A100: #50c8ff;
@primary-A200: #69d0ff;
@primary-A400: #83d8ff;
@primary-A700: #002536;
@primary-contrast: #fff;
@primary-contrast-hover: rgba(255,255,255,.2);
@primary-contrast-hue1: #E6E6E6;
@primary-contrast-hue2: #CCC;
@primary-contrast-hue3: #B3B3B3;
@primary:@primary-500;
@primary-hue1: @primary-50;
@primary-hue2: @primary-700;
@primary-hue3: @primary-A700;

@accent-50: #8f5504;
@accent-100: #a86404;
@accent-200: #c17305;
@accent-300: #da8205;
@accent-400: #f39106;
@accent-500: #f99c19;
@accent-600: #fbb24b;
@accent-700: #fbbc64;
@accent-800: #fcc77d;
@accent-900: #fcd296;
@accent-A100: #fbb24b;
@accent-A200: rgb(250,167,50);
@accent-A400: #f99c19;
@accent-A700: #fddcae;
@accent-contrast: #fff;
@accent:@accent-A200;
@accent-hue1: @accent-A700;
@accent-hue2: @accent-500;
@accent-hue3: @accent-50;

@background-50: #ffffff;
@background-100: #ffffff;
@background-200: #ffffff;
@background-300: #ffffff;
@background-400: #ffffff;
@background-500: #fff;
@background-600: #f2f2f2;
@background-700: #e6e6e6;
@background-800: #d9d9d9;
@background-900: #cccccc;
@background-A100: #ffffff;
@background-A200: #ffffff;
@background-A400: #ffffff;
@background-A700: #bfbfbf;
@background-contrast:#000;
@background: @background-500;

@background-hue1: @background-600;
@background-hue2: @background-800;
@background-hue3: @background-A700;

@cg-50: #ffcaef;
@cg-100: #ffb1e7;
@cg-200: #ff97df;
@cg-300: #ff7ed8;
@cg-400: #ff64d0;
@cg-500: #ff4bc8;
@cg-600: #ff31c0;
@cg-700: #ff18b8;
@cg-800: #fd00b0;
@cg-900: #e4009e;
@cg-A100: #ffe4f7;
@cg-A200: #fffdff;
@cg-A400: #ffffff;
@cg-A700: #ca008d;
@cg-contrast:#fff;
@cg:@cg-500;

@sw-50: #9bbde9;
@sw-100: #86afe4;
@sw-200: #71a1e0;
@sw-300: #5c94db;
@sw-400: #4786d7;
@sw-500: #3278d2;
@sw-600: #2a6cc0;
@sw-700: #2660ab;
@sw-800: #215496;
@sw-900: #1c4982;
@sw-A100: #afcbee;
@sw-A200: #c4d8f2;
@sw-A400: #d9e6f7;
@sw-A700: #183d6d;
@sw-contrast: #fff;
@sw:@sw-500;

@uf-50: #b5ecbe;
@uf-100: #a1e7ac;
@uf-200: #8de29a;
@uf-300: #79dc88;
@uf-400: #64d776;
@uf-500: #50d264;
@uf-600: #3ccd52;
@uf-700: #31be47;
@uf-800: #2caa3f;
@uf-900: #269638;
@uf-A100: #caf1d0;
@uf-A200: #def7e2;
@uf-A400: #f2fcf4;
@uf-A700: #218130;
@uf-contrast:#fff;
@uf:@uf-500;
