html(lang="en")
    head
        title Green Pattern Map
        base(href="map/")
        meta(name='viewport', content='{width=device-width, initial-scale=1')
        
        //Styles
        link(rel='stylesheet', href='node_modules/leaflet/dist/leaflet.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/app/styles/material-design-lite.css')
        link(rel='stylesheet', hreg='/app/styles/main.css')
        
        //IE polyfills
        script(src="node_modules/es6-shim/es6-shim.min.js")
        script(src="node_modules/zone.js/dist/zone.js")
        script(src="node_modules/reflect-metadata/Reflect.js")
        script(src="node_modules/systemjs/dist/system.src.js")
       
        //libs
        script(src="node_modules/material-design-lite/material.min.js")

       
        //SystemJS_config
        script(src="app/systemjs.config.js")
        

        script.
            System.import('app').catch(function(err){ console.error(err);  });
            
    body
        app
