$bnia-blue: rgb(0,125,182);
$bnia-blue-dark: rgb(22,16,50);
$bnia-orange: rgb(250,167,50);
$bnia-light-blue: rgb(178,216,233);
$white: rgb(255,255,255);
$gray: rgb(117,117,117);
$light-gray: rgb(245,245,245);

$color-primary:$bnia-blue !default;
$color-primary-dark:$bnia-blue-dark !default;
$color-accent:$bnia-orange !default;


