<md-menu-bar>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Layers
      </button>
      <md-menu-content>
        <md-menu-item>
          <md-checkbox ng-model="$ctrl.opts.allCG">
            Community Managed Open Spaces
          </md-checkbox>
        </md-menu-item>
        <md-menu-item>
          <md-checkbox ng-model="$ctrl.opts.allSW">
            Stormwater Management Sites
          </md-checkbox>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Boundaries
      </button>
      <md-menu-content>
        <md-radio-group>
          <md-radio-button
            ng-repeat="bc in $ctrl.opts.boundaryChoices"
            ng-value = "bc.key">
            {{bc.val}}
          </md-radio-button>
        </md-radio-group>
      </md-menu-content>
    </md-menu>
</md-menu-bar>
