<div class="md-padding my-layout-container" layout-xsm="column" layout-sm="column" layout-md="column" layout-gt-md="row">
  <div layout="column" flex-offset-gt-md="15" flex-gt-md="35">
    <map-card class='my-layout-landing-map-card' on-click-button="$ctrl.mapAccess(options)"></map-card>
    <gpb-card class='my-layout-landing-gpb-card'></gpb-card>
  </div>
  <div layout="column" flex-gt-md="35">
    <desc-card class='my-layout-landing-desc-card'></desc-card>
    <phases-card class='my-layout-landing-phases-card'></phases-card>
  </div>
</div>
<footer></footer>
