    <div flex="100" layout="row" layout-xs="column" layout-align="center">
        <div flex="50" flex-gt-sm="35" flex-xs="100" layout="column" tabIndex="-1">
            <md-card class="green-registry-map">
                <img ng-src="assets/images/map.jpg" class="md-card-image" alt="BNIA Green Patterns Interactive Map">
                <a href="http://water.bniajfi.org/map">
                    <md-button class="md-fab md-secondary" aria-label="Green Registry Map">
                        <md-icon md-svg-src="assets/svg/plus.svg"></md-icon>
                    </md-button>
                </a>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Green Registry Map</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>Access Interactive Map</md-button>
                </md-card-actions>
            </md-card>

            <md-card class="green-pattern-book">
                <img ng-src="assets/images/green-pattern-book.jpg" class="md-card-image" alt="BNIA Green Patterns Interactive Map">
                <md-button class="md-fab md-secondary" aria-label="Green Pattern Book">
                    <!-- <md-icon md-svg-src="assets/svg/plus.svg"></md-icon> -->
                </md-button>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">The Green Pattern Book</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Urban and suburban areas, including many of America’s post-industrial cities, grapple with how to manage abandoned and vacant properties. When these properties are deconstructed or demolished, vacant lots lie in their wake. The Green
                        Pattern Book, developed out of a grant from the US Foreast Service’s Northern Research Station to Baltimore City, is a tool to assist urban residents, administration, and community and nongovernmental organizations in “greening”
                        these vacant lands and improving quality of life in the city. The book presents eight green project types for vacant lots, depending upon circumstances including community preferences, land tenure, and available funding, and provides
                        extensive design guidelines around site selection, site layout and implementation, permits and zoning, maintenance, and funding. The Green Pattern Book is a robust tool for planning and implementing community greening initiatives
                        throughout Baltimore, and is relevant to many other cities in America and beyond that are wrestling with problems stemming from vacant and abandoned properties. The Green Registry extends the relevance and impact of the Green Pattern
                        Book, by providing a central repository for mapping past, current, and potential greening efforts. Most greening efforts are community-inspired, organized, and driven. We hope you will be inspired to think about a greening effort
                        in your neighborhood, and that you use the Green Pattern Book and Green Registry as tools in your effort to help Baltimore achieve a greener future!</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>Purchase</md-button>
                    <md-button>More Information</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex="50" flex-gt-sm="35" flex-xs="100" layout="column" tabIndex="-1">
            <md-card class="green-map-description">
                <md-card-content>
                    <h3>Problem</h3>
                    <p>The City of Baltimore has more than 18,000 vacant lots that could be converted into uses that enhance neighborhoods and promote resiliency and sustainability.</p>
                    <h3>Solution</h3>
                    <p>In order to help neighborhood stakeholders identify greening strategies for these vacant lots, the City developed the Green Pattern Book that provides guidance on ways to achieve its vision of integrated green amenities.</p>
                    <h3>Project</h3>
                    <p>There are 8 patterns within the Green Pattern Book. Mapping sites that show characteristics of the eight patterns is an essential tool for coordinating efforts and collectively achieving the vision defined by neighborhoods. In 2013,
                        the Baltimore Neighborhood Indicators Alliance (BNIA-JFI) piloted a publicly- accessible, interactive map for this purpose using the pattern community-managed open space. Now, in 2014, BNIA-JFI is enhancing the map features and
                        adding a second element for stormwater management. Future iterations of the map will include components of the remaining six green patterns.</p>
                    <h3>Content</h3>
                    <p>Understanding how these sites impact urban waters and the communities that surrounds them requires ongoing information about the social, economic, and environmental characteristics of the City and the region. BNIA-JFI is leveraging
                        existing socioeconomic data from the Vital Signs report and integrating it with data related to sites with potential to reduce runoff and nutrient loads to the City’s watersheds.</p>
                    <h3>Process</h3>
                    <p>For each element of the Green Pattern Book, BNIA-JFI compiles data from a variety of primary sources and adds it to a spatial database that connects to Vital Signs community-based indicators, real property records, vacants to values
                        properties, and adopt-a-lots. It is made accessible via a web-based interactive map.</p>
                </md-card-content>
            </md-card>

            <md-card class="phases">
                <md-list flex>
                    <md-list-item class="md-1-line">
                        <img ng-src="assets/images/phase-1.png" class="md-avatar" alt="Phase 1 Pilot" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Phase 1 Pilot</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-1-line">
                        <img ng-src="assets/images/phase-2.png" class="md-avatar" alt="Phase 2" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Phase 2</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-1-line">
                        <img ng-src="assets/images/phase-2.png" class="md-avatar" alt="Future Iterations" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Future Iterations</h3>
                            <ul>
                                <li>Clean and Green</li>
                                <li>Mixed Greens</li>
                                <li>Neighborhood Park</li>
                                <li>Green Parking</li>
                                <li>Urban Agriculture</li>
                                <li>Urban Forest and Buffer</li>
                            </ul>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card>
        </div>

    </div>

    <div class="footer" layout="row" layout-align="center">
        <div flex="70" flex-sm="100" flex-xs="100" layout="row" layout-xs="column" layout-padding>
            <div flex="33" flex-xs="100" layout="row" layout-align="start center">
                <img src="assets/images/bnia-logo.png" alt="BNIA Logo">
            </div>
            <div flex="33" flex-xs="100">
                <h3>Get In Touch</h3>
                <ul class="social-media-links">
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="youtube"><a href="#">YouTube</a></li>
                </ul>
                <ul>
                    <li>
                        <p>Nancy Jones: <a href="mailto:njones@ubalt.edu">njones@ubalt.edu</a></p>
                    </li>
                    <li>
                        <p>Seema Iyer: <a href="mailto:siyer@ubalt.edu">siyer@ubalt.edu</a></p>
                    </li>
                </ul>
            </div>
            <div flex="33" flex-xs="100">
                <h3>Acknowledgements</h3>
                <p>This mapping project was funded through an agreement with the U.S. Department of Agriculture, U.S. Forest Service, Northern Research Station. The Northern Research Station of the U.S. Forest Service seeks to improve people’s lives and
                    help sustain the natural resources in the Northeast and Midwest through leading-edge science and effective information delivery. For more information, visit the <a href="#">Urban Waters Partnership site</a>.</p>
            </div>
        </div>
    </div>
    </div>
